@import 'tailwindcss';
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

body {
    background-color: rgb(26, 52, 26);
    color: rgb(255, 255, 255);
}

body textarea, input {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(85, 85, 85);
}


.object {
    border: 1px solid #555;
    padding: 10px;
    margin-bottom: 10px;
}

.id-display-field {
    font-weight: bold;
    margin-bottom: 5px;
}

.add-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}