@import 'tailwindcss';
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@property --primary-bg-color {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(26, 52, 26);
}

body {
    background-color: var(--primary-bg-color);
    color: rgb(255, 255, 255);
}

body textarea, input {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(85, 85, 85);
}


.object {
    border: 1px solid #555;
    padding: 10px;
    margin-bottom: 10px;
}

.id-display-field {
    font-weight: bold;
    margin-bottom: 5px;
}

.add-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    max-width: 33%;
}

.submit-button {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #45a049;
}

.add-button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

select {
    background-color: var(--primary-bg-color);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(85, 85, 85);
}